<nav id="nav-container">
  <ul id="nav-items">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/rectangles">Rectangles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/add-rectangle">Add Rectangle</a>
    </li>
  </ul>
</nav>
