:root {
  --black-color: #000;
  --white-color: #fff;
  --gray-color-1: #FAFAFA;
  --gray-color-2: #EEEEEE;
  --blue-color: #1E88E5;
  --green-color: #43A047;
  --red-color: #E53935;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 2em;
}

h1, h2 {
  padding: 1em;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#rectangle-canvas {
  width: 100%;
  height: 25em;
  border-radius: 0.5em;
  border: solid 0.125em var(--black-color);
  overflow: auto;
}

#rectangle {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#rectangles-container {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.rectangle-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s;
  border-radius: 0.5em;
}

.rectangle-container > * {
  flex-grow: 1;
}

.rectangle-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--blue-color);
  padding: 1em;
  transition: all 0.3s;
  border-radius: 0.5em;
  margin: 1em;
}

.rectangle-link:hover {
  filter: brightness(85%);
}

.rectangle-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#add-rectangle-form,
#update-rectangle-form,
#delete-rectangle-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  border-radius: 0.5em;
  border: solid 0.125em var(--black-color);
  padding: 1em;
}

#add-rectangle-form > *,
#update-rectangle-form > * {
  flex-grow: 1;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-input-container > * {
  flex-grow: 1;
}

#form-add-button,
#form-update-button,
#form-delete-button {
  border: none;
  padding: 1em;
  background-color: var(--green-color);
  transition: all 0.3s;
  color: var(--white-color);
  cursor: pointer;
  border-radius: 0.5em;
}

#form-add-button:hover,
#form-update-button:hover {
  filter: brightness(85%);
}

#form-delete-button {
  background-color: var(--red-color);
}

#form-delete-button:hover {
  filter: brightness(85%);
}

input[type=text],
input[type=number] {
  padding: 1em;
  border: solid 0.125em black;
  border-radius: 0.5em;
  box-sizing: border-box;
}

table, th, td {
  border: solid 0.125em var(--black-color);
  border-collapse: collapse;
  text-align: left;
  padding: 1em;
}

#add-button {
  border: none;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--green-color);
  padding: 1em;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 0.5em;
}

#add-button:hover {
  filter: brightness(85%);
}

#nav-container {
  display: flex;
  justify-content: space-between;
  border: solid 0.125em var(--black-color);
}

#nav-items {
  display: flex;
}

.nav-item {
  list-style: none;
}

.nav-link {
  display: flex;
  color: var(--black-color);
  text-decoration: none;
  padding: 1em;
  transition: all 0.3s;
}

.nav-link:hover {
  background-color: var(--gray-color-2);
}