<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <main>
    <h1 class="page-heading">Home</h1>
    <p class="page-body">
      Welcome to Rectangles! The website for viewing, adding, editing, and deleting rectangles.
      <br />
      <br />
      You can view all rectangles on the rectangles page or view a single rectangle by clicking on a retangle's "View" button.
      <br />
      <br />
      When adding rectangles, you can give each one a Name, a CSS-compatible Color, a Width in pixels, and a Height in pixels.
      <br />
      <br />
      When updating a rectangle, you can change the Name, Color, Width, and Height.
      <br />
      <br />
      You can delete a rectangle by clicking on the "Delete" button when viewing a single rectangle.
      <br />
      <br />
      To get started, <a href="/rectangles">Go to Rectangles</a>
    </p>
  </main>
</body>
</html>
