<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <main class="main-container">
    <!-- <button type="button" id="add-button" onclick="document.querySelector('#add-rectangle-form').style.display = 'flex'">
      Add Rectangle
    </button> -->
    <!-- <form style="display:none" id="add-rectangle-form" action="/rectangles" method="post"> -->
    <form id="add-rectangle-form" action="/rectangles" method="post">
      <h2>Add Rectangle</h2>
      <div class="form-input-container">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" autocomplete="off" required maxlength="255" />
      </div>
      <div class="form-input-container">
        <label for="color">Color (CSS)</label>
        <input id="color" type="text" name="color" autocomplete="off" required maxlength="255" />
      </div>
      <div class="form-input-container">
        <label for="width">Width (px)</label>
        <input id="width" type="number" min="1" name="width" autocomplete="off" required />
      </div>
      <div class="form-input-container">
        <label for="height">Height (px)</label>
        <input id="height" type="number" min="1" name="height" autocomplete="off" required />
      </div>
      <input id="form-add-button" type="submit" value="Add" form="add-rectangle-form" />
      <!-- <input id="form-add-button" type="submit" value="Add" form="add-rectangle-form" onsubmit="this.style.display = 'none'" /> -->
    </form>
    <div id="rectangles-container">
      <% rows.forEach(function(row) { %>
        <div class="rectangle-container">
          <h2><%= row.name %></h2>
          <a class="rectangle-link" href="/rectangles/<%= row.id %>">View</a>
        </div>
      <% }); %>
    </div>
  </main>
</body>
</html>
