<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <main class="main-container">
    <div id="rectangles-container">
      <% rows.forEach(function(row) { %>
        <div class="rectangle-container">
          <h1><%= row.name %></h1>
          <!-- <div> -->
            <a class="rectangle-link" href="/rectangles/<%= row.id %>">View</a>
          <!-- </div> -->
        </div>
      <% }); %>
    </div>
    <form id="add-rectangle-form" action="/rectangles" method="post">
      <h1>Add Rectangle</h1>
      <div class="form-input-container">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" autocomplete="off" />
      </div>
      <div class="form-input-container">
        <label for="color">Color (CSS)</label>
        <input id="color" type="text" name="color" autocomplete="off" />
      </div>
      <div class="form-input-container">
        <label for="width">Width (px)</label>
        <input id="width" type="number" min="0" name="width" autocomplete="off" value="0" />
      </div>
      <div class="form-input-container">
        <label for="height">Height (px)</label>
        <input id="height" type="number" min="0" name="height" autocomplete="off" value="0" />
      </div>
      <input id="form-add-button" type="submit" value="Add" form="add-rectangle-form" />
    </form>
  </main>
</body>
</html>
